<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payou</title>

    <!-- link to css styling -->
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/title.css">
    <link rel="stylesheet" href="styles/userCont.css">
    <link rel="stylesheet" href="styles/totalEmp.css">
    <link rel="stylesheet" href="styles/dashList.css">
    <link rel="stylesheet" href="styles/dashHist.css">
    <link rel="stylesheet" href="styles/quickActions.css">
    <link rel="stylesheet" href="styles/add-cont.css">
    <link rel="stylesheet" href="styles/newPayroll.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
</head>
<body>
    <div id="nav-container">

        <div id="logo-cont">
            <img src="images/logo.png" alt="company logo">
            <h1>Payou.</h1>
        </div>
        <ul id="nav-list">
            <li class="active">
                <i class="fa-solid fa-house"></i>
                <h2>Dashboard</h2>
            </li>

            <li>
                <i class="fa-solid fa-sack-dollar"></i>
                <h2>Generate invoice</h2>
            </li>
            
            <li>
                <i class="fa-solid fa-users"></i>
                <h2>Employee list</h2>
            </li>

            <li>
                <i class="fa-solid fa-message"></i>
                <h2>Messages</h2>
            </li>

        </ul>
    </div>